services:
  db:
    image: postgres:15
    container_name: pg_books
    restart: always
    environment:
      POSTGRES_USER: g003
      POSTGRES_PASSWORD: g003
      POSTGRES_DB: bookdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:  
  pgdata: